<h1>PowerRuby Community Edition v2 (CE2) Training Material</h1>
<h2>The "SBMJOB" example</h2>

<table id="events" style="width:100%">
  <tr>
    <th>Request Command</th>
    <th>Job Status</th>
    <th>Active Job ID</th>
  </tr>
  <tr>
    <td><input type="text" id="command" style="width:100%"/></td>
    <td align="center" style="width:100px">editable</td>
    <td align="center" style="width:300px"><button id="add_row_btn">Submit</button></td>
  </tr>
</table>
